.DS_Store
.idea/
*.pyc
env/*/components/
env/**/*.service
env/**/*.disabled
env/**/*.json
env/**/*.policy
env/**/*.policy.template
env/**/*.py
env/**/*.sh
env/**/*.tf
env/**/*.tfvars
env/**/*.tpl
env/**/*.xml
env/**/*.yaml
env/**/*.yml
env/**/*.yaml.template
env/**/*.zip
env/**/README.txt
env/**/tf-*
env/**/CHANGES.md
logs/**/*
templates/**/*.tfstate
templates/**/*.tfvars
horizon/.Python
horizon/bin/
horizon/include/
horizon/lib/
horizon/pip-selfcheck.json
crash.log
venv/
terraform-error*.log
.virtualenv/
pylint.log
