{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Action": [
        "s3:ListBucket",
        "s3:GetBucketLocation",
        "s3:GetObject"
      ],
      "Effect": "Allow",
      "Resource": [
        "${cloudtrail_bucket_arn}",
        "${cloudtrail_bucket_arn}/*"
      ]
    }
  ]
}
